Source: gooroom-session-manager
Section: misc
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Build-Depends: automake (>= 1.13),
               debhelper (>= 10),
               gnome-pkg-tools (>= 0.17),
               gnome-common (>=3.18.0),
               dh-autoreconf,
               debhelper,
               pkg-config,
               libtool,
               intltool,
               libgtk-3-dev,
               libglib2.0-dev,
               libjson-c-dev,
               libdbus-glib-1-dev,
               libnotify-dev,
               libpolkit-gobject-1-dev
Standards-Version: 3.9.8

Package: gooroom-session-manager
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Session manager for the Gooroom environment.
